.ip-text-block ol,
.ip-text-block ul {
    margin: 0;
    padding-left: 1.5em;
}
.ip-text-block ol > li,
.ip-text-block ul > li {
    list-style-type: none;
}
.ip-text-block ol li:not(.ql-direction-rtl),
.ip-text-block ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
}
.ip-text-block ol li.ql-direction-rtl,
.ip-text-block ul li.ql-direction-rtl {
    padding-right: 1.5em;
}
.ip-text-block .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
}
.ip-text-block li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 4.5em;
}
.ip-text-block .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
}
.ip-text-block li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
}
.ip-text-block .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
}
.ip-text-block li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 7.5em;
}
.ip-text-block .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
}
.ip-text-block li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
}
.ip-text-block .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
}
.ip-text-block li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 10.5em;
}
.ip-text-block .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
}
.ip-text-block li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
}
.ip-text-block .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
}
.ip-text-block li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 13.5em;
}
.ip-text-block .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
}
.ip-text-block li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
}
.ip-text-block .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
}
.ip-text-block li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 16.5em;
}
.ip-text-block .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
}
.ip-text-block li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
}
.ip-text-block .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
}
.ip-text-block li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 19.5em;
}
.ip-text-block .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
}
.ip-text-block li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
}
.ip-text-block .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
}
.ip-text-block li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 22.5em;
}
.ip-text-block .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
}
.ip-text-block li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
}
.ip-text-block .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
}
.ip-text-block li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 25.5em;
}
.ip-text-block .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
}
.ip-text-block li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
}
.ip-text-block .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
}
.ip-text-block li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 28.5em;
}
.ip-text-block .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
}
.ip-text-block li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
}
.ip-text-block .ql-video {
    display: block;
    max-width: 100%;
}
.ip-text-block .ql-video.ql-align-center {
    margin: 0 auto;
}
.ip-text-block .ql-video.ql-align-right {
    margin: 0 0 0 auto;
}
.ip-text-block .ql-bg-black {
    background-color: #000;
}
.ip-text-block .ql-bg-red {
    background-color: #e60000;
}
.ip-text-block .ql-bg-orange {
    background-color: #f90;
}
.ip-text-block .ql-bg-yellow {
    background-color: #ff0;
}
.ip-text-block .ql-bg-green {
    background-color: #008a00;
}
.ip-text-block .ql-bg-blue {
    background-color: #06c;
}
.ip-text-block .ql-bg-purple {
    background-color: #93f;
}
.ip-text-block .ql-color-white {
    color: #fff;
}
.ip-text-block .ql-color-red {
    color: #e60000;
}
.ip-text-block .ql-color-orange {
    color: #f90;
}
.ip-text-block .ql-color-yellow {
    color: #ff0;
}
.ip-text-block .ql-color-green {
    color: #008a00;
}
.ip-text-block .ql-color-blue {
    color: #06c;
}
.ip-text-block .ql-color-purple {
    color: #93f;
}
.ip-text-block .ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
}
.ip-text-block .ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
}
.ip-text-block .ql-size-small {
    font-size: 0.75em;
}
.ip-text-block .ql-size-large {
    font-size: 1.5em;
}
.ip-text-block .ql-size-huge {
    font-size: 2.5em;
}
.ip-text-block .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
}
.ip-text-block .ql-align-center {
    text-align: center;
}
.ip-text-block .ql-align-justify {
    text-align: justify;
}
.ip-text-block .ql-align-right {
    text-align: right;
}

/**/
.ip-text-block p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    line-height: inherit;
}
.ip-text-block h1 {
    font-size: 2em;
}
.ip-text-block h2,
.ql-size-large {
    font-size: 1.5em;
}
.ip-text-block h3 {
    font-size: 1.17em;
}
.ip-text-block h4 {
    font-size: 1em;
}
.ip-text-block h5 {
    font-size: 0.83em;
}
.ip-text-block h6 {
    font-size: 0.67em;
}
.ip-text-block .ql-size-small {
    font-size: 0.75em;
}
.ip-text-block .ql-size-huge {
    font-size: 2.5em;
}
.ip-text-block .ql-align-left {
    text-align: left;
}
.ip-text-block .ql-align-center {
    text-align: center;
}
.ip-text-block .ql-align-right {
    text-align: right;
}
.ip-text-block .ql-align-justify {
    text-align: justify;
}
.ip-text-block .ql-direction-rtl {
    direction: rtl;
}
.ip-text-block .ql-direction-ltr {
    direction: ltr;
}
.ip-column.ip-border-radius table {
    border-collapse: separate !important;
}
