# This is a basic workflow to help you get started with Actions

name: Release

on:
  push:
    branches:
      - master
      - beta
      - alpha
      - next

jobs:
  release:
    name: Check release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'yarn'

      - name: Install modules & build the Library
        run: |
          yarn install
          yarn build

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17
          branches: |
            [
              '+([0-9])?(.{+([0-9]),x}).x',
              'master',
              'next',
              {name: 'beta', prerelease: true}, 
              {name: 'alpha', prerelease: true}
            ]
          extra_plugins: |
            @semantic-release/changelog@^5.0.1
            @semantic-release/git@^9.0.0
            @semantic-release/github@^7.2.3
            @semantic-release/npm@^7.1.3
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          NPM_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
